*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $roboto;
}
html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
@mixin customButton {
    position: relative;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    border-radius: 7%;
    text-transform: uppercase;
    font-size: 12px;
    outline: none !important;
}
.primary-button, a.primary-button{
    @include customButton();
    background-color: $main-color;
    color: white;
    transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    -webkit-transition: background-color .3s;
    &::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 5%;
        background: $secondary-color;
        transition: width 1s;
        -moz-transition:  width 1s;
        -o-transition: width 1s;
        -webkit-transition:  width 1s;
    }
    &:hover::after{
        width: 100%;
    }
}
.secondary-button{
    @include customButton();
    background-color:rgb(5, 92, 5);
    color: white;
    transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    -webkit-transition:  background-color .3s;
    &:hover{
        background-color: $secondary-color;
    }
}
.primary-button-bordered{
    @include customButton();
    background-color: transparentize($color: $main-color, $amount: 0.6);
    color: white;
    border: 2px solid white;
    transition: background .3s, color .3s, border-color .3s;
    -moz-transition: background .3s, color .3s, border-color .3s;
    -o-transition: background .3s, color .3s, border-color .3s;
    -webkit-transition:  background .3s, color .3s, border-color .3s;
    &:hover{
        background-color: transparentize($color: $secondary-color, $amount: 0.6);
        color: white;
    }
}
.secondary-button-bordered{
    @include customButton();
    background-color:rgb(5, 92, 5);
    color: white;
    border: 2px solid white;
    transition: background .3s, color .3s, border-color .3s;
    -moz-transition: background .3s, color .3s, border-color .3s;
    -o-transition: background .3s, color .3s, border-color .3s;
    -webkit-transition:  background .3s, color .3s, border-color .3s;
    &:hover{
        background-color: transparentize($color: $main-color, $amount: 0.6);
        color: white;
    }
}
.secondary-color{
    color: $secondary-color;
}
.main-color{
    color: $main-color;
}
.bold{
    font-family: $heebo-bold;
    font-weight: bold;
}
.tag{
    padding: 10px 30px;
    background: $secondary-color;
    border-radius: 100px;
}
.overlap-header{
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
     @include media-us{
            flex-direction: column;
            -ms-flex-direction: column;
            top: -8%;
        }
        @include media-xs{
            flex-direction: column;
            -ms-flex-direction: column;
            top: -9%;
        }
        @include media-sm{
            top: -13%;
            flex-direction: column;
            -ms-flex-direction: column;
        }
        @include media-md{
            top: -15%;
        }
        @include media-lg{
            top: -15%;
        }
        @include media-xlg{
            top: -20%;
        }
        @include media-xxlg{
            width: 60vw;
            top: -15%;
        }
}