$main-color: rgb(23, 95, 199);
$secondary-color: rgb(115, 191, 21);
$roboto: "Roboto";
$heebo-regular: "Heebo Regular";
$heebo-bold: "Heebo Bold";
$heebo-extra-bold: "Heebo Extra Bold";
$paragraph-font-size: 13px;

// Media Queries
// Ultra small devices
@mixin media-us {
    @media (max-width: 424px) {
        @content;
    }
}
// Extra Small Devices, Mobile .visible-xs-*
@mixin media-xs {
    @media (min-width: 425px) and (max-width: 767px) {
        @content;
    }
}
@mixin media-xs-portrait {
    @media (max-width: 767px) and (orientation: portrait) {
        @content;
    }
}
@mixin media-xs-landscape {
  @media (max-width: 767px) and (orientation: landscape) {
        @content;
  }
}
// Small Devices, Tablet portrait .visible-sm-* 
@mixin media-sm {
    @media (min-width: 768px) and (max-width: 991px) {
        @content;
    }
}
// Medium Devices, Tablet landscape .visible-md-*
@mixin media-md {
    @media (min-width: 992px) and (max-width: 1199px) {
        @content;
    }
}
// Large Devices, Desktop .visible-lg-* 
@mixin media-lmd {
    @media (min-width: 992px) {
        @content;
    }
}
// Large Devices, Desktop .visible-lg-* 
@mixin media-lg {
    @media (min-width: 1200px) {
        @content;
    }
}
// Extra Large Devices, Desktop .visible-lg-* 
@mixin media-xlg {
    @media (min-width: 1450px) {
        @content;
    }
}
// Extra Extra large devices, Desktop
@mixin media-xxlg{
    @media(min-width: 1824px){
        @content;
    }
}
.hidden-us {
    @include media-us() {
        display: none !important;
    }
}
.hidden-xs {
    @include media-xs() {
        display: none !important;
    }
}
.hidden-sm {
    @include media-sm() {
        display: none !important;
    }
}
.hidden-md {
    @include media-md() {
        display: none !important;
    }
}
.hidden-lg {
    @include media-lg() {
        display: none !important;
    }
}
.visible-xs {
    display: none !important;
    @include media-xs() {
        display: block !important;
    }
}
.visible-sm {
    display: none !important;
    @include media-sm() {
        display: block !important;
    }
}
.visible-md {
    display: none !important;
    @include media-md() {
        display: block !important;
    }
}
