    @mixin heading-one-custom {
        font-family: $heebo-bold;
        font-size: 40px;
        position: relative;
        display: inline-block;
        padding-bottom: 20px;
        margin-bottom: 40px;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            height: 7px;
        }
    }

    .heading-one-green-center{
        @include heading-one-custom();
        color: $secondary-color;
        text-transform: uppercase;
        &::after{
            width: 50%;
            left: 50%;
            transform: translateX(-50%);
            background-color: $secondary-color;
        }
    }
    .heading-one-white-left{
        @include heading-one-custom();
        color: white;
        &::after{
            width: 30%;
            left: 0;
            background-color: white;
        }
    }
    .heading-one-green-blue-left{
        @include heading-one-custom();
        color: $secondary-color;
        &::after{
            width: 30%;
            left: 0;
            background-color: $main-color;
        }
    }
    .heading-one-green-blue-center{
        @include heading-one-custom();
        color: $secondary-color;
        &::after{
            width: 30%;
            left: 50%;
            transform: translateX(-50%);
            background-color: $main-color;
        }
    }


.first-section{
    background: white;
    position: relative;
    @include media-us{
        padding: 500px 20px 100px 20px !important;
     }
    @include media-xs{
         padding: 350px 60px 100px 60px;
     }
    @include media-sm{
        padding: 350px 60px 100px 60px;
    }
    @include media-md{
        padding: 300px 60px 100px 60px;
    }
    @include media-lg{
        padding: 250px 60px 150px 60px;
    }
    @include media-xlg{
        padding: 200px 60px 200px 60px;
    }
    @include media-xxlg{
        padding: 200px 60px 200px 60px;
    
    }
    p{
        font-size: $about-paragraph-font-size;
        @include media-xxlg{
            font-size: 15px;
         }
    }
    .our-history{
        display: flex;
        background-color: $secondary-color;
        color: white;
        @include media-us{
            flex-direction: column;
        }
        @include media-xs{
            flex-direction: column;
        }
        @include media-sm{
            flex-direction: column;
        }
        .left-box{
            width: 50%;
            @include media-us{
                width: 100%;
                padding: 20px 20px 100px 20px
            }
            @include media-xs{
                width: 100%;
                padding: 20px 20px 100px 20px
            }
            @include media-sm{
                width: 100%;
                padding: 20px 20px 100px 20px
            }
            @include media-md{
                padding: 100px 80px 100px 80px;
            }
            @include media-lg{
                padding: 80px 80px 80px 80px;
            }
            @include media-xlg{
                padding: 80px;
            }
            @include media-xxlg{
                padding: 80px;
            }
        }
        .right-box{
            width: 50%;
            background: url('/themes/images/about-our-history@2x.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: right;
            @include media-us{
                width: 100%;
                height: 300px;
            }
            @include media-xs{
                width: 100%;
                height: 300px;
            }
            @include media-sm{
                width: 100%;
                height: 300px;
            }
        }
    }
    .our-process{
        @include media-xs{
            margin-top: 50px;
        }
    }
    .our-mission{
        @include media-xs{
            margin-top: 50px;
        }
    }
    .our-team-container{
        width: 97%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 100px;
        @include media-xs{
        padding-top: 50px;
        }
        @include media-xxlg{
            width: 60%;
        }
        .team-member-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 30px;
            @include media-xs{
                margin-top: 0;
            }
            .team-member{
                min-width: 25%;
                margin-top: 70px;
                @include media-xs{
                    margin-top: 50px;
                }
                .img-container{
                    z-index: 1;
                    img{
                        max-width: 300px;
                        border: 1px solid rgba(235, 235, 235, 0.658);
                    }
                }
                .team-member-body{
                    position: relative;
                    width: 90%;
                    margin: auto;
                    .team-member-title{
                        position: absolute;
                        top: -40px;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 70%;
                        color: white;
                        padding: 15px;
                        background-color: $secondary-color;
                        h1, h2, h3, h4, h5, h6{
                            font-family: $heebo-bold;
                            margin: 0;
                        }
                        
                    }
                    .team-member-social{
                        z-index: -1;
                        padding-top: 60px;
                        padding-bottom: 30px;
                        box-shadow: 0 3px 10px 2px rgb(236, 236, 236);
                        width: 80%;
                        margin-left: auto;
                        margin-right: auto;
                        a{
                            color: rgb(48, 48, 48);
                            margin-left: 10px;
                            margin-right: 10px;
                            transition: color .3s;
                            &:hover{
                                color: $secondary-color;
                            }
                        }
                    }
                }
            }
        }
    }
}