.custom-container{
    padding: 70px 0;
    @include media-xlg{
        min-width: 70%;
    }
    .list-posts{

        padding: 0 20px;
        @include media-us{
            padding: 0 20px;
        }
        @include media-xs{
            padding: 0 20px;
        }
        @include media-sm{
            padding: 0 20px;
        }
        @include media-md{
            padding: 0 20px;
        }
        @include media-xlg{
            padding: 0 100px;
        }
        .post{
            display: flex;
            display: -ms-flexbox;
            display: -webkit-flex;
            flex-direction: row;
            -ms-flex-direction: row;
            align-items: center;
            position: relative;
            width: 100%;
            min-height: 200px;
            box-shadow: 0 0 10px 3px gainsboro;
            padding: 30px;
            @include media-us{
                padding: 5px !important;
            }
            @include media-xs{
                padding: 5px;
            }
            @include media-md{
                width: 100%;
            }
            &:not(:nth-of-type(1)){
                margin-top: 70px;
            }
            &::before{
                content: '';
                height: 100%;
                width: 100px;
                background: $secondary-color;
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
                @include media-us{
                    width: 30px !important;
                }
                @include media-xs{
                    width: 80px;
                }
            }
            .img-container{
                width: 300px;
                height: 200px;
                @include media-us{
                    width: 70px !important;
                 }
                @include media-xs{
                    width: 100px;
                    height: 50px;
                }
                @include media-sm{
                    width: 200px;
                    height: 150px;
                 }
                 @include media-md{
                    width: 200px;
                    height: 150px;
                 }
                 @include media-lg{
                    width: 200px;
                    height: 150px;
                 }
                 @include media-xlg{
                    width: 200px;
                    height: 150px;
                 }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: fill;
                    object-position: center;
                    @include media-xs{
                        display: none;
                    }
                }
            }
            .post-body{
                font-size: $paragraph-font-size;
                width: 60%;
                padding-left: 30px;

                 @include media-us{
                    padding: 20px 0;
                }
                @include media-xs{
                    text-align: center;
                    padding: 20px 0;
                }
                h1, h2, h3, h4, h5{
                    color: $main-color;
                    font-family: $heebo-bold;
                    padding-bottom: 10px;
                }
                p{
                    padding-bottom: 20px;
                    text-align: left;
                }
                .post-author{
                    display: inline-block;
                    margin-top: 20px;
                    @include media-xs{
                        display: block;
                        text-align: center;
                     }
                }
                .primary-button{
                    text-decoration: none;
                    color: white;
                    margin-right: 30px;
                }
                .share-links{
                    position: absolute;
                    right: 50px;
                    bottom: 20px;
                    font-size: 16px;
                    display: inline-flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    flex-direction: row;
                    width: 100px;
                    @include media-xs{
                        bottom: 50%;
                        transform: translateY(50%);
                        right: -10px;
                        flex-direction: column;
                        width: 42px;
                    }
                    @include media-sm{
                        bottom: 50%;
                        transform: translateY(50%);
                        right: -10px;
                        flex-direction: column;
                        width: 42px;
                    }
                    @include media-md{
                        bottom: 50%;
                        transform: translateY(50%);
                        right: -10px;
                        flex-direction: column;
                        width: 42px;
                    }
                    @include media-lg{
                        bottom: 50%;
                        transform: translateY(50%);
                        right: -10px;
                        flex-direction: column;
                        width: 42px;
                    }
                    @include media-xlg{
                        bottom: 50%;
                        transform: translateY(50%);
                        right: -10px;
                        flex-direction: column;
                        width: 42px;
                    }
                    @include media-xxlg{
                        right: 50px;
                        bottom: 30%;
                        font-size: 16px;
                        width: 100px;
                        flex-direction: row;
                    }
                    a{
                        border-radius: 100%;
                        margin-bottom: 10px;
                        padding: 9px 5px;
                        width: 45%;
                        height: 45%;
                        text-align: center;
                        color: white;
                        transition: opacity .3s, transform .3s;
                        -moz-transition: opacity .3s, transform .3s;
                        -o-transition: opacity .3s, transform .3s;
                        -webkit-transition: opacity .3s, transform .3s;
                        @include media-xs{
                            width: 100%;
                        }
                        @include media-sm{
                            width: 100%;
                        }
                        @include media-md{
                            width: 100%;
                        }
                        @include media-lg{
                            width: 100%;
                        }
                        @include media-xlg{
                            width: 100%;
                        }
                        @include media-xxlg{
                            width: 45%;
                        }
                        &:hover{
                            opacity: 0.7;
                            transform: translateY(-5px);
                        }
                    }
                    a.twitter-share{
                        background:  #1DA1F2;
                    }
                    a.facebook-share{
                        background: #4267B2;
                    }
                    a.linkedin-share{
                        background: #2867B2;
                    }
                    a.googleplus-share{
                        background: #DD4B39;
                    }
                }
            }
        }
    }
    .sidebar{
        @include media-us{
            padding: 50px 0;
        }
        @include media-xs{
            padding: 50px 0;
        }
        @include media-sm{
            padding: 50px 0;
        }
        @include media-md{
            padding: 50px 0;
        }
        form{
            @include media-xs{
                margin-right: 20px;
                margin-left: 20px;
            }
            .search-container{
                font-size: $paragraph-font-size;
                position: relative;
                width: 100%;
                border: 1px solid gainsboro;
                display: inline-block;
                padding: 15px 20px;
                border-radius: 5px;
                transition: box-shadow .3s, width 1s;
                -moz-transition: box-shadow .3s, width 1s;
                -o-transition: box-shadow .3s, width 1s;
                -webkit-transition: box-shadow .3s, width 1s;
                @include media-us{
                    margin: 0 10px;
                }
                .search-icon{
                    position: absolute;
                    bottom: 50%;
                    transform: translateY(50%);
                    color: $main-color;
                    font-size: 20px;
                }
                input[type="text"]{
                    padding-left: 50px;
                    border: 0;
                    outline: 0;
                    width: 100%;
                    height: 100%;
                    @include media-xs{
                        padding-left: 25px;
                    }
                    &::placeholder{
                        color: rgb(175, 175, 175);
                    }
                }
                .primary-button{
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                    @include media-xs{
                        padding: 10px 15px;
                    }
                }
            }
        }
       
        .latest-posts-container{
            font-size: $paragraph-font-size;
            margin-top: 80px;
            >h1, h2, h3, h4, h5{
                padding-left: 20px;
                color: $main-color;
            }
            .latest-posts{
                .latest-post{
                    display: flex;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    text-decoration: none;
                    align-items: center;
                    padding: 20px;
                    border-radius: 10px;
                    transition: box-shadow .3s;
                    &:not(:nth-of-type(1)){
                        margin-top: 10px;
                    }
                    &:hover{
                        box-shadow: 0 0 5px 1px rgb(236, 236, 236);
                    }
                    .latest-post-image-container{
                        width: 120px;
                        height: 80px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: fill;
                        }
                    }
                    .latest-post-description{
                        padding-left: 20px;
                        span, p{
                            margin: 0;
                        }
                        span{
                            color: rgb(94, 65, 225);
                        }
                    }
                }
            }
        }
    }
}
