footer{
   font-size: 0.9rem;
   padding: 50px 0;
   background: linear-gradient(to right, rgb(16, 16, 82), rgb(2, 2, 34), rgb(1, 1, 20));
   color: whitesmoke;
   width: 100%;
   .footer-logo{
      margin-bottom: 30px;
   }
   .footer-contact{
      .footer-contact-working-days{
         margin: 20px 0;
         span{
            display: block;
         }
      }
   }
   .footer-quick-links{
      ul{
         list-style: none;
         li{
            padding: 3px 0;
            a{
               color: whitesmoke;
               &:hover{
                  color: $main-color;
               }
            }
         }
      }
   }
   .footer-post-list{
      margin: 20px 0;
      .footer-post{
         display: flex;
         align-items: center;
         color: inherit;
         border: 1px solid transparent;
         padding: 5px;
         transition: box-shadow .3s;
         text-decoration: none;
         margin: 10px 0;
         &:hover{
            box-shadow: 0 0 9px 5px rgba(155, 155, 155, 0.274);
         }
         .footer-post-description{
            padding-left: 10px;
            p{
               margin: 0;
            }
            span{
               color: gray;
            }
         }
      }
   }
   .footer-copyright{
      padding-top: 50px;
   }
}