footer{
   font-size: 0.9rem;
   padding: 50px 0;
   background: linear-gradient(to right, rgb(16, 16, 82), rgb(2, 2, 34), rgb(1, 1, 20));
   color: gainsboro;
   width: 100%;
   h1, h2, h3, h4, h5, h6{
      color: white;
      font-weight: bold;
      font-family: $heebo-bold;
   }
   @include media-xs{
      padding-right:30px;
      padding-left: 30px;
   }
   .footer-logo{
      margin-bottom: 30px;
      position: relative;
      @include media-xs{
        text-align: center;
     }

      img{
         max-width: 100%;
         max-height: 100%;
      }
   }
   .footer-contact{
      @include media-xs{
         margin-top: 30px;
         text-align: center;
     }
     >a{
        transition: color .3s;
        text-decoration: none;
     }
     >a:hover{
        color: $secondary-color;
     }
      .footer-contact-working-days{
         margin: 20px 0;
         span{
            display: block;
         }
      }
      .social-media-links{
         font-size: 18px;
         a{
            color: gainsboro;
            margin-right: 10px;
            transition: color .3s;
            position: relative;
            &:hover{
               color: $secondary-color;
            }
         }
      }
   }
   .footer-quick-links{
      @include media-xs{
         margin-top: 50px;
         text-align: center;
     }
      ul{
         @include media-xs{
            text-align: center;
        }
         list-style: none;
         li{
            @include media-xs{
               display: inline-block;
               margin-right: 15px;
               margin-left: 15px;
               margin-top: 10px;
           }
            padding: 3px 0;
            a{
               color: gainsboro;
               transition: color .2s;
               &:hover{
                  color: $secondary-color;
                  text-decoration: none;
               }
            }
         }
      }
   }
   .footer-latest-posts{
      @include media-xs{
         margin-top: 50px;
         text-align: center;
     }
      .footer-post-list{
         margin: 20px 0;
         .footer-post{
            display: flex;
            align-items: center;
            color: inherit;
            border: 1px solid transparent;
            padding: 5px;
            transition: box-shadow .3s;
            text-decoration: none;
            margin: 10px 0;
            @include media-xs{
               text-align: left;
           }
            img{
               width: 70px;
               height: 50px;
            }
            &:hover{
               box-shadow: 0 0 9px 5px rgba(155, 155, 155, 0.274);
            }
            .footer-post-description{
               padding-left: 10px;
               p{
                  margin: 0;
               }
               span{
                  color: gray;
               }
            }
         }
      }
   }
   .footer-copyright{
      padding-top: 50px;
      @include media-xs{
         text-align: center;
     }
   }
}