header{
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 100%;
    padding: 20px 100px;
    z-index: 1000;
    @include media-us{
        padding: 20px 50px 400px 50px;
    }
    @include media-xs{
        padding: 25px 55px 400px 50px;
    }
    .hamburger-menu{
        box-shadow: 1px 4px 3px -3px gainsboro;
        display: none;
        top: 80px;
        right: 50%;
        transform: translateX(50%);
        position: fixed;
        width: 100%;
        background: white;
        z-index: 12222;
        // !important using to override js styling
         @include media-md{
             display: none !important;
         }
         @include media-lg{
             display: none !important;
         }
         @include media-xlg{
             display: none !important;
         }
         @include media-xxlg{    
             display: none !important;
         }
        nav{
            padding: 20px;
            margin-top: 30px;
            a{
                border-top: 1px solid rgb(224, 224, 224);
                padding: 10px;
                display: block;
                transition: transform .3s, color .3s;
                -moz-transition: transform .3s, color .3s;
                -o-transition: transform .3s, color .3s;
                -webkit-transition: transform .3s, color .3s;
                text-decoration: none;
                font-family: $heebo-regular;
                color: rgb(131, 131, 131);
                &:hover{
                    color: $secondary-color;
                }
            }
        }
    }
    .header-head{
        z-index: 10000;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        align-items: center;
        .header-logo{
            img{
                height: 46px;
            }
        }
        .header-flex-spacing{
            flex-grow: 1;
        }
        nav{
            display: flex;
            display: -ms-flexbox;
            display: -webkit-flex;
            justify-items: space-around;
            @include media-us{
                display: none;
             }
            @include media-xs{
                display: none;
             }
             @include media-sm{
                 display: none;
             }
             @include media-md{
                 display: block;
             }
             @include media-lg{
                 display: block;
             }
             @include media-xlg{
                 display: block;
             }
             @include media-xxlg{
                 
                 display: block;
             }
            a{
                margin-right:20px;
                text-decoration: none;
                color: white;
                transition: color .3s;
                -moz-transition: color .3s;
                -o-transition: color .3s;
                -webkit-transition: color .3s;
                &:hover{
                    color: $secondary-color;
                }
            }
        }
        .hamburger-menu-icon-close{
            display: none;
            color: white;
            // !important using to override js styling
            @include media-us{
                display: none;
             }
            @include media-xs{
                display: none;
             }
             @include media-sm{
                 display: none;
             }
             @include media-md{
                 display: none !important;
             }
             @include media-lg{
                 display: none !important;
             }
             @include media-xlg{
                 display: none !important;
             }
             @include media-xxlg{           
                 display: none !important;
             }
        }
        .hamburger-menu-icon-open{
            color: white;
            position: relative;
            width: 23px;
            height: 25px;
            .hamburger-menu-icon-unit{
                position: absolute;
                min-width: 20px;
                min-height: 3px;
                background: white;
                &:nth-of-type(1){
                    top: 9px;
                }
                &:nth-of-type(3){
                    top: 18px;
                }
            }
            // !important using to override js styling
            @include media-us{
                display: block;
             }
            @include media-xs{
               display: block;
            }
            @include media-sm{
                display: block;
            }
            @include media-md{
                display: none !important;
            }
            @include media-lg{
                display: none !important;
            }
            @include media-xlg{
                display: none !important;
            }
            @include media-xxlg{                
                display: none !important;
            }
        }
    }
    .header-head.sticky {
        z-index: 100;
        transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        -webkit-transition: all .3s;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 200px;
        background: white;
        align-items: center;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        box-shadow: 0 6px 3px -3px rgb(230, 230, 230);
        @include media-us{
            padding: 20px 20px;
         }
        @include media-xs{
            padding: 20px 100px;
         }
         @include media-sm{
            padding: 20px 100px;
         }
         @include media-md{
            padding: 20px 100px;
         }
         @include media-lg{
            padding: 20px 100px;
         }
         @include media-xlg{
            padding: 20px 200px;
         }
         @include media-xxlg{
            padding: 20px 200px;
            
         }
        .hamburger-menu-icon-open{
            color: rgb(131, 125, 125);
            position: relative;
            width: 23px;
            height: 25px;
            .hamburger-menu-icon-unit{
                position: absolute;
                min-width: 20px;
                min-height: 3px;
                background: $main-color;
                &:nth-of-type(1){
                    top: 9px;
                }
                &:nth-of-type(3){
                    top: 18px;
                }
            }
                 // !important using to override js styling
            @include media-us{
                display: block;
             }
            @include media-xs{
               display: block;
            }
            @include media-sm{
                display: block;
            }
            @include media-md{
                display: none !important;
            }
            @include media-lg{
                display: none !important;
            }
            @include media-xlg{
                display: none !important;
            }
            @include media-xxlg{                
                display: none !important;
            }
        }
             // !important using to override js styling
        .hamburger-menu-icon-close{
            display: none;
            color: $main-color;
            @include media-us{
                display: none;
             }
            @include media-xs{
                display: none;
             }
             @include media-sm{
                 display: none;
             }
             @include media-md{
                 display: none !important;
             }
             @include media-lg{
                 display: none !important;
             }
             @include media-xlg{
                 display: none !important;
             }
             @include media-xxlg{
                 
                 display: none !important;
             }
        }
        .header-logo{
            img{
                height: 46px;
            }
        }
        .header-flex-spacing{
            flex-grow: 1;
        }
        a{
            color: gray;
        }
    }
    .header-head, header-head-sticky{
        a.active{
            font-family: $heebo-bold;
             color: $secondary-color;
             position: relative;
            &::after{
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 100%;
                height: 3px;
                background: $secondary-color;
            }


         }
    }

}