header{
    position: relative;
    background: url('/themes/images/header-background@2x.png');
    background-position: center;
    background-size: cover;
    //box-shadow:inset 0 0 0 2022px rgba(90, 59, 201, 0.205);
    min-height: 500px;
    padding: 20px 100px 400px 100px;
    z-index: 10;
    @include media-us{
        padding: 20px 50px 400px 50px;
    }
    @include media-xs{
        padding: 25px 55px 400px 50px;
    }
    @include media-sm{
        
    }
    @include media-md{
        
    }
    @include media-lg{
        
    }
    @include media-xlg{
        
    }
    .hamburger-menu{
        display: none;
        top: 100px;
        right: 50%;
        transform: translateX(50%);
        position: absolute;
        width: 90%;
        background: white;
        z-index: 12222;
         @include media-md{
             display: none !important;
         }
         @include media-lg{
             display: none !important;
         }
         @include media-xlg{
             display: none !important;
         }
         @include media-xxlg{
             
             display: none !important;
         }
        nav{
            padding: 20px;
            margin-top: 30px;
            a{
                border-top: 1px solid rgb(224, 224, 224);
                padding: 10px;
                display: block;
                transition: transform .3s, color .3s;
                text-decoration: none;
                font-family: $heebo-regular;
                color: rgb(131, 131, 131);
                &:hover{
                    color: $secondary-color;
                }
            }
        }
    }
    .header-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(42, 159, 255, 0.527), rgba(109, 3, 248, 0.705));
        z-index: 0;
    }
    .header-head{
        position: relative;
        z-index: 100;
        display: flex;
        align-items: center;
        .header-flex-spacing{
            flex-grow: 1;
        }
        nav{
            display: flex;
            justify-items: space-around;
            @include media-xs{
                display: none;
             }
             @include media-sm{
                 display: none;
             }
             @include media-md{
                 display: block;
             }
             @include media-lg{
                 display: block;
             }
             @include media-xlg{
                 display: block;
             }
             @include media-xxlg{
                 
                 display: block;
             }
            a{
                margin-right:20px;
                text-decoration: none;
                color: white;
                transition: color .2s;
                &:hover{
                    color: $secondary-color;
                }
            }
        }
        .hamburger-menu-icon-close{
            display: none;
            color: white;
            @include media-xs{
                display: none;
             }
             @include media-sm{
                 display: none;
             }
             @include media-md{
                 display: none !important;
             }
             @include media-lg{
                 display: none !important;
             }
             @include media-xlg{
                 display: none !important;
             }
             @include media-xxlg{
                 
                 display: none !important;
             }
        }
        .hamburger-menu-icon-open{
            color: white;
            position: relative;
            width: 23px;
            height: 25px;
            .hamburger-menu-icon-unit{
                position: absolute;
                min-width: 20px;
                min-height: 3px;
                background: white;
                &:nth-of-type(1){
                    top: 9px;
                }
                &:nth-of-type(3){
                    top: 18px;
                }
            }
            @include media-xs{
               display: block;
            }
            @include media-sm{
                display: block;
            }
            @include media-md{
                display: none !important;
            }
            @include media-lg{
                display: none !important;
            }
            @include media-xlg{
                display: none !important;
            }
            @include media-xxlg{
                
                display: none !important;
            }
        }
    }
    .header-body{
        position: relative;
        color: white;
        text-align: center;
        .header-body-content{
            margin-top: 80px;
            display: inline-block;
            h1{
                font-family: $heebo-bold;
                @include media-us{
                    margin-bottom: 40px;
                }
            }
            .header-body-content-btn-container{
                margin-top: 50px;
                a{
                    text-decoration: none;
                    margin-right: 20px;
                    @include media-us{
                        display: block;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}