header{
    background-position: center;
    background-size: cover;
    padding: 20px 100px 350px 100px;
    z-index: 10;
    @include media-us{
        padding: 20px 50px 400px 50px;
    }
    @include media-xs{
        padding: 25px 55px 400px 50px;
    }
    .hamburger-menu{
        box-shadow: 1px 0 3px -3px gainsboro;
        display: none;
        top: 80px;
        right: 50%;
        transform: translateX(50%);
        position: fixed;
        width: 100%;
        background: white;
        z-index: 12222;
         @include media-md{
             display: none !important;
         }
         @include media-lg{
             display: none !important;
         }
         @include media-xlg{
             display: none !important;
         }
         @include media-xxlg{
             
             display: none !important;
         }
        nav{
            padding: 20px;
            margin-top: 30px;
            a{
                border-top: 1px solid rgb(224, 224, 224);
                padding: 10px;
                display: block;
                transition: transform .3s, color .3s;
                -moz-transition: transform .3s, color .3s;
                -o-transition: transform .3s, color .3s;
                -webkit-transition: transform .3s, color .3s;
                text-decoration: none;
                font-family: $heebo-regular;
                color: rgb(131, 131, 131);
                &:hover{
                    color: $secondary-color;
                }
            }
        }
    }
    .header-head{
        position: relative;
        z-index: 10000;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        align-items: center;
        .header-logo{
            img{
                height: 46px;
            }
            
        }
        .header-flex-spacing{
            flex-grow: 1;
        }
        nav{
            display: flex;
            display: -ms-flexbox;
            display: -webkit-flex;
            justify-items: space-around;
            @include media-xs{
                display: none;
             }
             @include media-sm{
                 display: none;
             }
             @include media-md{
                 display: block;
             }
             @include media-lg{
                 display: block;
             }
             @include media-xlg{
                 display: block;
             }
             @include media-xxlg{
                 
                 display: block;
             }
            a{
                margin-right:20px;
                text-decoration: none;
                color: white;
                transition: color .3s;
                -moz-transition: color .3s;
                -o-transition: color .3s;
                -webkit-transition: color .3s;
                &:hover{
                    color: $secondary-color;
                }
            }
        }
        .hamburger-menu-icon-close{
            display: none;
            color: white;
            @include media-xs{
                display: none;
             }
             @include media-sm{
                 display: none;
             }
             @include media-md{
                 display: none !important;
             }
             @include media-lg{
                 display: none !important;
             }
             @include media-xlg{
                 display: none !important;
             }
             @include media-xxlg{
                 
                 display: none !important;
             }
        }
        .hamburger-menu-icon-open{
            color: white;
            position: relative;
            width: 23px;
            height: 25px;
            .hamburger-menu-icon-unit{
                position: absolute;
                min-width: 20px;
                min-height: 3px;
                background: white;
                &:nth-of-type(1){
                    top: 9px;
                }
                &:nth-of-type(3){
                    top: 18px;
                }
            }
            @include media-xs{
               display: block;
            }
            @include media-sm{
                display: block;
            }
            @include media-md{
                display: none !important;
            }
            @include media-lg{
                display: none !important;
            }
            @include media-xlg{
                display: none !important;
            }
            @include media-xxlg{
                
                display: none !important;
            }
        }
    }
    .header-head.sticky {
        z-index: 100;
        transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        -webkit-transition: all .3s;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 200px;
        background: white;
        align-items: center;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        box-shadow: 0 6px 3px -3px rgb(230, 230, 230);
        @include media-us{
            padding: 20px 20px !important;
         }
        @include media-xs{
            padding: 20px 100px;
         }
         @include media-sm{
            padding: 20px 100px;
         }
         @include media-md{
            padding: 20px 100px;
         }
         @include media-lg{
            padding: 20px 100px;
         }
         @include media-xlg{
            padding: 20px 200px;
         }
         @include media-xxlg{
            padding: 20px 200px;
            
         }
        .hamburger-menu-icon-open{
            color: rgb(131, 125, 125);
            position: relative;
            width: 23px;
            height: 25px;
            .hamburger-menu-icon-unit{
                position: absolute;
                min-width: 20px;
                min-height: 3px;
                background: $main-color;
                &:nth-of-type(1){
                    top: 9px;
                }
                &:nth-of-type(3){
                    top: 18px;
                }
            }
            @include media-xs{
               display: block;
            }
            @include media-sm{
                display: block;
            }
            @include media-md{
                display: none !important;
            }
            @include media-lg{
                display: none !important;
            }
            @include media-xlg{
                display: none !important;
            }
            @include media-xxlg{
                
                display: none !important;
            }
        }
        .hamburger-menu-icon-close{
            display: none;
            color: $main-color;
            @include media-xs{
                display: none;
             }
             @include media-sm{
                 display: none;
             }
             @include media-md{
                 display: none !important;
             }
             @include media-lg{
                 display: none !important;
             }
             @include media-xlg{
                 display: none !important;
             }
             @include media-xxlg{
                 
                 display: none !important;
             }
        }
        .header-logo{
            img{
                height: 46px;
            }
        }
        .header-flex-spacing{
            flex-grow: 1;
        }
        a{
            color: gray;
        }
    }
    .header-body{
        position: relative;
        color: white;
        text-align: center;
        .header-body-content{
            font-size: $paragraph-font-size;
            margin-top: 80px;
            display: inline-block;
            padding-left: 100px;
            padding-right: 100px;
            @include media-xs{
                padding-left: 10px;
                padding-right: 10px;
             }
            @include media-sm{
                padding-left: 10px;
                padding-right: 10px;
             }
             @include media-xxlg{
                font-size: 15px;
             }
            h1{
                font-family: $heebo-bold;
                @include media-us{
                    margin-bottom: 40px;
                }
            }
            .header-body-content-btn-container{
                margin-top: 50px;
                a{
                    text-decoration: none;
                    margin-right: 20px;
                    @include media-us{
                        display: block;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}
header.banner-header-home{
    background: url('/themes/images/header-background.png');
    background-position: center;
    background-size: cover;
    .header-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(42, 159, 255, 0.527), rgba(109, 3, 248, 0.705));
        z-index: 0;
    }
}
header.banner-header-standard{
    background: url('/themes/images/about-banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include media-us{
       padding-left: 15px;
       padding-right: 15px;
    }
    .header-overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(19, 19, 19, 0.527), rgba(32, 32, 32, 0.719));
        z-index: 0;
    }
}
.banner-header-about{
    box-shadow:inset 0 0 0 2022px rgba(34, 34, 34, 0.486);
}
.banner-header-blog{
    padding: 20px 100px 150px 100px;
    box-shadow:inset 0 0 0 2022px rgba(34, 34, 34, 0.486);
}