.quotes-container{
    width: 72%;
    padding-left: 150px;
    @include media-us{
        padding-left: 0;
        width: 100%;
    }
    @include media-xs{
        padding-left: 0;
        width: 100%;
    }
    @include media-sm{
        padding-left: 0;
        width: 100%;
    }
    @include media-md{
        padding-left: 80px;
        width: 80%;
    }
    @include media-lg{
        padding-left: 80px;
        width: 70%;
    }
    @include media-xlg{
        padding-left: 100px;
        width: 65%;
    }
    @include media-xxlg{
        padding-left: 200px;
        width: 70%;
    }
    .slider{
        width: 70%;
        box-shadow: 0 0 6px 2px gainsboro;
        border-radius: 5px;
        @include media-us{
            width: 100%;
        }
        @include media-xs{
            width: 100%;
        }
        @include media-sm{
            width: 100%;
        }
        @include media-md{
            width: 100%;
        }
        @include media-lg{
            width: 100%;
        }
        @include media-xlg{
            width: 80%;
        }
        @include media-xxlg{
            width: 70%;
        }
        .slick-prev:before, .slick-next:before{
            color:  gainsboro !important;
        }
        .quote-container{
            width: 80%;
            display: flex !important;
            align-items: stretch;
            border-radius: 5px;
            @include media-us{
                width: 100%;
                flex-direction: column;
            }
            @include media-xs{
                width: 100%;
                flex-direction: column;
            }
 
            .img-container{
                background-color: $main-color;
                padding: 20px;
                border-radius: 5px;
                @include media-us{
                    padding: 5px;
                }
                @include media-xs{
                    padding: 0;
                }
                img{
                    max-width: 100px;
                    border-radius:100px;
                    //border: 3px solid $main-color;
                    position: relative;
                    left: 50%;
                    top: 50%;
                    transform: translateY(-50%);
                    @include media-us{
                        left: 50%;
                        top: 80%;
                        transform: translate(-50%, 50%);
                    }
                    @include media-xs{
                        left: 50%;
                        top: 80%;
                        transform: translate(-50%, 50%);
                    }
                }
            }
            .quote-text-container{
                box-sizing: border-box;
                text-align: center;
                padding: 30px 50px;
                @include media-us{
                    padding: 60px 20px 10px 20px !important;
                }
                @include media-xs{
                    padding: 70px 20px 10px 20px;
                }
                .quote-text{                      
                    color: rgb(78, 78, 78);
                    font-style: italic;
                }
                .quote-person{
                    margin-top: 20px;
                    color: $secondary-color;
                }
                .quote-job-position{
                    color: gainsboro;
                }
            }
        }
        .quote-container:nth-of-type(2n+1){            
               .img-container{
                   background: $secondary-color;
               }
        }
    }
   
    
}