.quotes-container{
    width: 72%;
    padding-left: 150px;
    @include media-us{
        align-items: center;
        padding-left: 0;
        width: 100%;
    }
    @include media-xs{
        padding-left: 0;
        width: 100%;
    }
    @include media-sm{
        padding-left: 0;
        width: 100%;
    }
    @include media-md{
        padding-left: 80px;
        width: 80%;
    }
    @include media-lg{
        padding-left: 80px;
        width: 70%;
    }
    @include media-xlg{
        padding-left: 100px;
        width: 65%;
    }
    @include media-xxlg{
        padding-left: 200px;
        width: 70%;
    }
    .slick-arrow-container{
        text-align: center;
        @include media-us{
            width: 100%;
        }
        @include media-xs{
            width: 100%;
        }
        @include media-sm{
            width: 100%;
        }
        @include media-md{
            width: 100%;
        }
        @include media-lg{
            width: 80%;
        }
        @include media-xlg{
            width: 65%;
        }
        @include media-xxlg{
            width: 73%;
        }
        .slick-quotes-arrow-up, .slick-quotes-arrow-down{
            color: rgb(194, 194, 194);
            text-align: center;
            font-size: 20px;
            transition: color .3s;
            min-width: 31px;
            min-height: 71px;
        }
        .slick-arrow{
            opacity: 0.45;
            width: 31px;
            height: 71px;
        }
        .slick-quotes-arrow-up{
            i{
                background: url('/themes/images/tm-testi-slider-prev.png');
                transform: rotate(90deg);
            }
        }
        .slick-quotes-arrow-down{
            i{
                background: url('/themes/images/tm-testi-slider-prev.png');
                background-repeat: no-repeat;
                transform: rotate(-90deg);
            }
        }
    }
 

    .slider{
        width: 70%;
        border-radius: 5px;
        @include media-us{
            width: 100%;
        }
        @include media-xs{
            width: 100%;
        }
        @include media-sm{
            width: 100%;
        }
        @include media-md{
            width: 100%;
        }
        @include media-lg{
            width: 80%;
        }
        @include media-xlg{
            width: 70%;
        }
        @include media-xxlg{
            width: 73%;
        }
        .quote-container{
            margin-bottom: 30px;
            margin-top: 30px;
            margin-left: 10px;
            margin-right: 10px;
            box-shadow: 0 0 10px 2px rgb(235, 235, 235);
            display: flex;
            align-items: stretch;
            border-radius: 5px;
            @include media-us{
                width: 100%;
                flex-direction: column;
            }
            @include media-xs{
                margin-top: 10px;
                width: 100%;
                flex-direction: column;
            }
            @include media-sm{
                width: 100%;
            }
            @include media-md{
                width: 100%;
            }
            @include media-lg{
                width: 90%;
            }
            @include media-xlg{
                width: 100%;
            }
            @include media-xxlg{
                width: 100%;
            }
            .img-container{
                padding: 20px;
                border-radius: 5px;
                @include media-us{
                    padding: 5px;
                }
                @include media-xs{
                    padding: 0;
                }
                img{
                    max-width: 100px;
                    border-radius:100px;
                    //border: 3px solid $main-color;
                    position: relative;
                    left: 50%;
                    top: 50%;
                    transform: translateY(-50%);
                    @include media-us{
                        left: 50%;
                        top: 80%;
                        transform: translate(-50%, 50%);
                    }
                    @include media-xs{
                        left: 50%;
                        top: 80%;
                        transform: translate(-50%, 50%);
                    }
                }
            }
            .quote-text-container{
                box-sizing: border-box;
                text-align: center;
                padding: 30px 50px;
                @include media-us{
                    padding: 60px 20px 10px 20px !important;
                }
                @include media-xs{
                    padding: 70px 20px 10px 20px;
                }
                .quote-text{                      
                    color: rgb(78, 78, 78);
                    font-style: italic;
                }
                .quote-person{
                    margin-top: 20px;
                    color: $secondary-color;
                }
                .quote-job-position{
                    color: gainsboro;
                }
            }
        }
        .quote-container:nth-of-type(n){  
               .img-container{
                   background: $main-color;
               }
        }
        .quote-container:nth-of-type(2n){  
            .img-container{
                background: $secondary-color;
            }
     }
    }
   
    
}