.why-choose-us-container{
        background: #83C71A;
        padding: 100px 200px 300px 200px;
        position: absolute;
        top: -25vh;
        left: 50%;
        transform: translate(-50%);
        z-index: 10;
        width: 90vw;
        display: flex;
        transition: width .3s;
        @include media-us{
            flex-direction: column;
            padding: 20px 20px 100px 20px !important;
            top: -25% !important;
        }
        @include media-xs{
            flex-direction: column;
            top: -30%;
            padding: 20px 20px 100px 20px
        }
        @include media-sm{
            top: -25vh;
            flex-direction: column;
            padding: 100px 100px 300px 100px;
        }
        @include media-md{
            padding: 100px 150px 300px 150px;
        }
        @include media-lg{
            padding: 100px 100px 300px 100px;
        }
        @include media-xlg{
            padding: 100px 100px 300px 100px;
        }
        @include media-xxlg{
            padding: 100px 200px 300px 200px;
            width: 50vw;
            top: -20vh;
        }
        .why-choose-us-left{
            width: 50%;
            color: white;
            margin-bottom: 100px;
            @include media-us{
                width: 100%;
            }
            @include media-xs{
                width: 100%;
            }
            @include media-sm{
                width: 100%;
            }
            @include media-md{
                width: 50%;
            }
            h1{
                position: relative;
                font-family: $heebo-bold;
                @include media-us{
                    font-size: 30px;
                }
                span{
                    font-family: $heebo-bold;
                }
            }
            h1::after{
                content: '';
                position: absolute;
                width: 20%;
                bottom: -20px;
                border-bottom: 3px solid white;
                @include media-xs{
                    width: 50%;
                }
                @include media-sm{
                    width: 50%;
                }
            }
        }
        .why-choose-us-right{
            width: 50%;
            @include media-us{
                width: 100%;
            }
            @include media-xs{
                width: 100%;
            }
            @include media-sm{
                width: 100%;
            }
            @include media-md{
                width: 50%;
            }
            @include media-lg{
                width: 50%;
            }
            @include media-xlg{
                width: 50%;
            }
            .why-choose-us-reasons{
                .why-choose-us-reason{
                    background-color: white;
                    padding: 25px 40px;
                    margin-bottom: 35px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    transition: width .3s;
                    @include media-us{
                        padding: 10px 20px;
                    }
                    .reason-img-container{
                        border-right: 2px solid rgb(218, 218, 218);
                        padding-right: 15px;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        img{
                            height: 46px;
                            width: 46px;
                        }
                    }
                    .reason-text{
                        padding-left: 15px;
                        color: $secondary-color;
                        font-weight: bold;
                    }
                }
            }
        }
    }

.services-container{
    position: relative;
    z-index: 11;
    border-radius: 10px;
    border: 1px solid gainsboro;
    .services-container-left{
        color: white;
        border-radius: 10px;
        background-image: url('/themes//images/services-man@2x.png');
        box-shadow:inset 0 0 0 2000px rgba(24, 24, 24, 0.822);
        background-repeat: no-repeat;
        background-size: 130%;
        background-position: center;
        padding: 0;
        transition: width .3s, height .3s, background .3s;
        @include media-us{
            
        }
        @include media-xs{
            background-size: 180%;
        }
        @include media-md{
            background-size: 160%;
        }
        .services-container-left-body{
            margin-top: 300px;
            padding-left: 50px;
            padding-right: 200px;
            padding-bottom: 100px;
            @include media-us{
                margin-top: 70px;
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: 50px;
            }
            h1, h2, h3, h4, h5, h6{
                font-family: $heebo-bold;
                color: $secondary-color;
            }
        }
    }
    .services-container-right{
        text-align: center;
        padding: 120px 0;
        background: white;
        @include media-us{
            padding: 20px 0;
        }
        @include media-xs{
            padding: 60px 0;
        }
        @include media-sm{
            padding: 60px 0 40px 0;
        }
        @include media-md{
            padding: 60px 0 40px 0;
        }
        @include media-lg{
            padding: 60px 0 40px 0;
        }
        @include media-xlg{
            padding: 60px 0 40px 0;
        }
        .service-item{
            margin-top: 10px;
            img{
                margin-bottom: 15px;
                width: 64px;
                height: 64px;
            }
            &:nth-of-type(odd){
                @include media-us{
                    border-right: none;
                }
                border-right: 1px solid gainsboro;
            }
        }
    }
}