.left-box{
    position: relative;
    display: flex;
    transition: width .4s, height .4s;
    background-color: rgb(245, 245, 245);
    border-radius: 7px;
    box-shadow: 0 0 10px 3px gainsboro;
    @include media-xs{
        align-items: center;
        justify-content: center;
        width: 80%;
    }
    @include media-sm{
        width: 80%;
    }
    @include media-md{
        width: 50%;
    }
    @include media-lg{
        width: 45%;
    }
    @include media-xlg{
        width: 45%;
    }
    @include media-xxlg{
        width: 40%;
        padding: 30px 20px;
    }
    flex-wrap: wrap;
    .box-item{
        width: 50%;
        display: flex;
        align-items: flex-start;
        padding: 30px;
        color: black;
        @include media-xs{
            width: 90%;
        }
        h1{
            margin: 10px 10px 0 0;
            color: $secondary-color;
            font-weight: bolder;
            @include media-xs{
                font-size: 30px;
                margin: 5px 10px 0 0;
            }
            @include media-sm{
                font-size: 30px;
                margin: 5px 10px 0 0;
            }
            @include media-md{
                font-size: 30px;
                margin: 5px 10px 0 0;
            }
            @include media-lg{
                font-size: 40px;
                margin: 10px 10px 0 0;
            }
        }
        .box-item-body{
            width: 300px;
            border-left: 3px solid $main-color;
            .box-item-body-title{
                text-align: left;
                color: white;
                padding: 20px;
                background: $main-color;
                text-transform: uppercase;
                h1, h2, h3, h4, h5, h6{
                    margin: 0;
                    @include media-xs{
                        font-size: 20px;
                    }
                    @include media-sm{
                        font-size: 20px;
                    }
                    @include media-md{
                        font-size: 20px;
                    }
                    @include media-lg{
                        font-size: 20px;
                    }
                }
                @include media-xs{
                    padding: 6px;
                }
                @include media-sm{
                    padding: 6px;
                }
                @include media-lmd{
                    padding: 10px;
                }
                @include media-lg{
                    padding: 10px;
                }
                @include media-xlg{
                    padding: 15px;
                }
                @include media-xxlg{
                    padding: 20px;
                }
            }
            .box-item-body-description{
                color: black;
                padding: 20px;
                text-align: left;
                @include media-sm{
                    padding: 6px;
                }
                @include media-lmd{
                    padding: 10px;
                }
                @include media-lg{
                    padding: 10px;
                }
                @include media-xlg{
                    padding: 15px;
                }
                @include media-xxlg{
                    padding: 20px;
                }
            }
        }
    }
}