.quotes-container{
    width: 72%;
    @include media-xs{
        width: 90%; 
 }
    @include media-sm{
           width: 90%; 
    }
    @include media-lmd{
            
    }
    @include media-lg{
        width: 70%;
    }
    @include media-xlg{
        width: 60%;
    }
    @include media-xxlg{
        width: 50%;
    }
    .quote-container{
        margin-bottom: 60px;
        width: 80%;
        display: flex;
        align-items: stretch;
        box-shadow: 0 0 10px 3px gainsboro;
        border-radius: 5px;
        @include media-xs{
            width: 100%;
        }
        @include media-sm{
            width: 100%;
        }
        @include media-lmd{
            
        }
        @include media-lg{
           
        }
        @include media-xlg{
            width: 70%;
        }
        @include media-xxlg{
            width: 70%;
        }
        .img-container{
            background-color: $main-color;
            padding: 20px;
            border-radius: 5px;
            img{
                max-width: 100px;
                border-radius:100px;
                //border: 3px solid $main-color;
                position: relative;
                left: 50%;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .quote-text-container{
            box-sizing: border-box;
            text-align: center;
            padding: 30px 50px;
            .quote-text{                      
                color: rgb(78, 78, 78);
                font-style: italic;
            }
            .quote-person{
                margin-top: 20px;
                color: $secondary-color;
            }
            .quote-job-position{
                color: gainsboro;
            }
        }
    }
    .quote-container:nth-of-type(even){            
           .img-container{
               background: $secondary-color;
               img{
                //border-color: $secondary-color;
               }
           }
    }
    
}