@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

.visible-xs {
  display: none !important; }
  @media (max-width: 767px) {
    .visible-xs {
      display: block !important; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto"; }

body {
  margin: 0;
  position: relative; }

.primary-button {
  padding: 7px 30px 7px 30px;
  text-decoration: none;
  border-radius: 7%;
  text-transform: uppercase;
  font-size: 12px;
  outline: none !important;
  background-color: #176fc7;
  color: white; }

.secondary-button {
  padding: 7px 30px 7px 30px;
  text-decoration: none;
  border-radius: 7%;
  text-transform: uppercase;
  font-size: 12px;
  outline: none !important;
  background-color: #055c05;
  color: white; }

.primary-button-bordered {
  padding: 7px 30px 7px 30px;
  text-decoration: none;
  border-radius: 7%;
  text-transform: uppercase;
  font-size: 12px;
  outline: none !important;
  background-color: rgba(23, 111, 199, 0.4);
  color: white;
  border: 2px solid white; }

.secondary-button-bordered {
  padding: 7px 30px 7px 30px;
  text-decoration: none;
  border-radius: 7%;
  text-transform: uppercase;
  font-size: 12px;
  outline: none !important;
  background-color: #055c05;
  color: white;
  border: 2px solid white; }

.secondary-color {
  color: #57c73e; }

.main-color {
  color: #176fc7; }

.home-section {
  height: 100vh;
  background: black; }

.how-we-do-section {
  width: 100%;
  background: rgba(220, 220, 220, 0.315);
  text-align: center;
  padding-bottom: 300px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .how-we-do-section {
      padding-top: 50px;
      padding-bottom: 70px; } }
  @media (min-width: 992px) {
    .how-we-do-section {
      padding-top: 40px;
      padding-bottom: 100px; } }
  @media (min-width: 1200px) {
    .how-we-do-section {
      padding-top: 80px;
      padding-bottom: 200px; } }
  @media (min-width: 1450px) {
    .how-we-do-section {
      padding-top: 95px;
      padding-bottom: 250px; } }
  @media (min-width: 1824px) {
    .how-we-do-section {
      padding-bottom: 300px; } }
  .how-we-do-section > h1 {
    color: #57c73e;
    margin-bottom: 100px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .how-we-do-section > h1 {
        margin-bottom: 40px; } }
    @media (min-width: 1200px) {
      .how-we-do-section > h1 {
        margin-bottom: 50px; } }
    @media (min-width: 1450px) {
      .how-we-do-section > h1 {
        padding: 80px; } }
    @media (min-width: 1824px) {
      .how-we-do-section > h1 {
        padding: 100px;
        font-size: 60px; } }
  .how-we-do-section .boxes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row; }
    @media (max-width: 767px) {
      .how-we-do-section .boxes {
        flex-direction: column; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .how-we-do-section .boxes {
        flex-direction: column; } }

.services-section {
  background: white;
  padding: 200px 0; }
  @media (max-width: 767px) {
    .services-section {
      padding: 50px 0; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .services-section {
      padding: 50px 0; } }
  @media (min-width: 1824px) {
    .services-section {
      padding: 200px 60px; } }

.work-with-section {
  width: 100%;
  box-shadow: 0 0 100px 4px gainsboro; }
  .work-with-section .work-with-section-container {
    padding: 100px 60px;
    display: flex;
    align-items: center; }
    @media (min-width: 768px) and (max-width: 991px) {
      .work-with-section .work-with-section-container {
        flex-direction: column; } }
    @media (min-width: 1824px) {
      .work-with-section .work-with-section-container {
        padding: 200px 60px; } }
    .work-with-section .work-with-section-container .heading {
      width: 30%;
      padding: 0 70px; }
      @media (min-width: 768px) and (max-width: 991px) {
        .work-with-section .work-with-section-container .heading {
          width: 100%;
          padding: 0;
          text-align: center;
          padding-bottom: 50px; } }
      @media (min-width: 1200px) {
        .work-with-section .work-with-section-container .heading {
          width: 30%;
          padding: 0 7% 0 3%; } }
      @media (min-width: 1450px) {
        .work-with-section .work-with-section-container .heading {
          width: 40%;
          padding: 0 7% 0 15%; } }
      @media (min-width: 1824px) {
        .work-with-section .work-with-section-container .heading {
          width: 50%;
          padding: 0 5% 0 30%; } }
      .work-with-section .work-with-section-container .heading h1 {
        font-size: 60px;
        color: #57c73e; }
        @media (min-width: 768px) and (max-width: 991px) {
          .work-with-section .work-with-section-container .heading h1 {
            font-size: 40px; } }
  .work-with-section .brands {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #e6e6e6; }
    @media (max-width: 767px) {
      .work-with-section .brands {
        padding-left: 5vw;
        padding-right: 5vw; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .work-with-section .brands {
        padding-left: 7vw;
        padding-right: 7vw; } }
    @media (min-width: 1200px) {
      .work-with-section .brands {
        padding-left: 3vw;
        padding-right: 3vw; } }
    .work-with-section .brands .brand-container {
      margin-bottom: 40px;
      text-align: center; }
      @media (max-width: 767px) {
        .work-with-section .brands .brand-container {
          width: 100%; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .work-with-section .brands .brand-container {
          width: 50%; } }
      @media (min-width: 992px) and (max-width: 1199px) {
        .work-with-section .brands .brand-container {
          width: 33.333%; } }
      @media (min-width: 1200px) {
        .work-with-section .brands .brand-container {
          width: 20%; } }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto-regular/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
.services-container {
  border-radius: 10px;
  box-shadow: 0 0 10px 5px gainsboro; }
  .services-container .services-container-left {
    color: white;
    position: relative;
    border-radius: 10px;
    background-image: url("/themes//images/services-man@2x.png");
    box-shadow: inset 0 0 0 2000px rgba(24, 24, 24, 0.822);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: center;
    padding: 0;
    transition: width .3s, height .3s, background .3s; }
    @media (max-width: 767px) {
      .services-container .services-container-left {
        background-size: 180%; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .services-container .services-container-left {
        background-size: 160%; } }
    .services-container .services-container-left .services-container-left-body {
      margin-top: 400px;
      padding-left: 50px;
      padding-bottom: 100px; }
      .services-container .services-container-left .services-container-left-body h1, .services-container .services-container-left .services-container-left-body h2, .services-container .services-container-left .services-container-left-body h3, .services-container .services-container-left .services-container-left-body h4, .services-container .services-container-left .services-container-left-body h5, .services-container .services-container-left .services-container-left-body h6 {
        color: #57c73e; }
  .services-container .services-container-right {
    text-align: center;
    padding: 120px 0; }
    @media (max-width: 767px) {
      .services-container .services-container-right {
        padding: 20px 0; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .services-container .services-container-right {
        padding: 20px 0 90px 0; } }
    .services-container .services-container-right .service-item {
      margin-top: 50px; }
      .services-container .services-container-right .service-item img {
        margin-bottom: 15px;
        width: 64px;
        height: 64px; }
      .services-container .services-container-right .service-item:nth-of-type(odd) {
        border-right: 1px solid gainsboro; }

.right-box {
  display: flex;
  flex-direction: column;
  background-color: #57c73e;
  border-radius: 7px;
  transition: width .4s, height .4s; }
  @media (max-width: 767px) {
    .right-box {
      width: 80%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .right-box {
      margin-top: 60px;
      min-width: auto; } }
  @media (min-width: 992px) {
    .right-box {
      min-width: 30%; } }
  @media (min-width: 1200px) {
    .right-box {
      min-width: 30%; } }
  @media (min-width: 1450px) {
    .right-box {
      min-width: 25%; } }
  @media (min-width: 1824px) {
    .right-box {
      min-width: 18%; } }
  .right-box .box-item {
    display: flex;
    align-items: flex-start;
    padding: 30px;
    color: white; }
    .right-box .box-item h1 {
      margin: 10px 10px 0 0;
      color: white; }
      @media (min-width: 768px) and (max-width: 991px) {
        .right-box .box-item h1 {
          font-size: 30px;
          margin: 5px 10px 0 0; } }
      @media (min-width: 992px) and (max-width: 1199px) {
        .right-box .box-item h1 {
          font-size: 30px;
          margin: 5px 10px 0 0; } }
      @media (min-width: 1200px) {
        .right-box .box-item h1 {
          font-size: 40px;
          margin: 10px 10px 0 0; } }
    .right-box .box-item .box-item-body {
      width: 300px;
      border-left: 2px solid white; }
      .right-box .box-item .box-item-body .box-item-body-title {
        text-align: left;
        color: white;
        padding: 20px;
        background: #176fc7;
        text-transform: uppercase; }
        .right-box .box-item .box-item-body .box-item-body-title h1, .right-box .box-item .box-item-body .box-item-body-title h2, .right-box .box-item .box-item-body .box-item-body-title h3, .right-box .box-item .box-item-body .box-item-body-title h4, .right-box .box-item .box-item-body .box-item-body-title h5, .right-box .box-item .box-item-body .box-item-body-title h6 {
          margin: 0; }
          @media (min-width: 768px) and (max-width: 991px) {
            .right-box .box-item .box-item-body .box-item-body-title h1, .right-box .box-item .box-item-body .box-item-body-title h2, .right-box .box-item .box-item-body .box-item-body-title h3, .right-box .box-item .box-item-body .box-item-body-title h4, .right-box .box-item .box-item-body .box-item-body-title h5, .right-box .box-item .box-item-body .box-item-body-title h6 {
              font-size: 20px; } }
          @media (min-width: 992px) and (max-width: 1199px) {
            .right-box .box-item .box-item-body .box-item-body-title h1, .right-box .box-item .box-item-body .box-item-body-title h2, .right-box .box-item .box-item-body .box-item-body-title h3, .right-box .box-item .box-item-body .box-item-body-title h4, .right-box .box-item .box-item-body .box-item-body-title h5, .right-box .box-item .box-item-body .box-item-body-title h6 {
              font-size: 20px; } }
          @media (min-width: 1200px) {
            .right-box .box-item .box-item-body .box-item-body-title h1, .right-box .box-item .box-item-body .box-item-body-title h2, .right-box .box-item .box-item-body .box-item-body-title h3, .right-box .box-item .box-item-body .box-item-body-title h4, .right-box .box-item .box-item-body .box-item-body-title h5, .right-box .box-item .box-item-body .box-item-body-title h6 {
              font-size: 20px; } }
        @media (min-width: 768px) and (max-width: 991px) {
          .right-box .box-item .box-item-body .box-item-body-title {
            padding: 6px; } }
        @media (min-width: 992px) {
          .right-box .box-item .box-item-body .box-item-body-title {
            padding: 10px; } }
        @media (min-width: 1200px) {
          .right-box .box-item .box-item-body .box-item-body-title {
            padding: 10px; } }
        @media (min-width: 1450px) {
          .right-box .box-item .box-item-body .box-item-body-title {
            padding: 15px; } }
        @media (min-width: 1824px) {
          .right-box .box-item .box-item-body .box-item-body-title {
            padding: 20px; } }
      .right-box .box-item .box-item-body .box-item-body-description {
        color: white;
        padding: 20px;
        text-align: left; }
        @media (min-width: 768px) and (max-width: 991px) {
          .right-box .box-item .box-item-body .box-item-body-description {
            padding: 6px; } }
        @media (min-width: 992px) {
          .right-box .box-item .box-item-body .box-item-body-description {
            padding: 10px; } }
        @media (min-width: 1200px) {
          .right-box .box-item .box-item-body .box-item-body-description {
            padding: 10px; } }
        @media (min-width: 1450px) {
          .right-box .box-item .box-item-body .box-item-body-description {
            padding: 15px; } }
        @media (min-width: 1824px) {
          .right-box .box-item .box-item-body .box-item-body-description {
            padding: 20px; } }

.left-box {
  display: flex;
  transition: width .4s, height .4s;
  background-color: whitesmoke;
  border-radius: 7px;
  box-shadow: 0 0 10px 3px gainsboro;
  flex-wrap: wrap; }
  @media (max-width: 767px) {
    .left-box {
      width: 80%; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .left-box {
      width: 80%; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .left-box {
      width: 50%; } }
  @media (min-width: 1200px) {
    .left-box {
      width: 45%; } }
  @media (min-width: 1450px) {
    .left-box {
      width: 45%; } }
  @media (min-width: 1824px) {
    .left-box {
      width: 40%;
      padding: 30px 20px; } }
  .left-box .box-item {
    width: 50%;
    display: flex;
    align-items: flex-start;
    padding: 30px;
    color: black; }
    @media (max-width: 767px) {
      .left-box .box-item {
        width: 90%; } }
    .left-box .box-item h1 {
      margin: 10px 10px 0 0;
      color: #57c73e;
      font-weight: bolder; }
      @media (min-width: 768px) and (max-width: 991px) {
        .left-box .box-item h1 {
          font-size: 30px;
          margin: 5px 10px 0 0; } }
      @media (min-width: 992px) and (max-width: 1199px) {
        .left-box .box-item h1 {
          font-size: 30px;
          margin: 5px 10px 0 0; } }
      @media (min-width: 1200px) {
        .left-box .box-item h1 {
          font-size: 40px;
          margin: 10px 10px 0 0; } }
    .left-box .box-item .box-item-body {
      width: 300px;
      border-left: 2px solid #176fc7; }
      .left-box .box-item .box-item-body .box-item-body-title {
        text-align: left;
        color: white;
        padding: 20px;
        background: #176fc7;
        text-transform: uppercase; }
        .left-box .box-item .box-item-body .box-item-body-title h1, .left-box .box-item .box-item-body .box-item-body-title h2, .left-box .box-item .box-item-body .box-item-body-title h3, .left-box .box-item .box-item-body .box-item-body-title h4, .left-box .box-item .box-item-body .box-item-body-title h5, .left-box .box-item .box-item-body .box-item-body-title h6 {
          margin: 0; }
          @media (min-width: 768px) and (max-width: 991px) {
            .left-box .box-item .box-item-body .box-item-body-title h1, .left-box .box-item .box-item-body .box-item-body-title h2, .left-box .box-item .box-item-body .box-item-body-title h3, .left-box .box-item .box-item-body .box-item-body-title h4, .left-box .box-item .box-item-body .box-item-body-title h5, .left-box .box-item .box-item-body .box-item-body-title h6 {
              font-size: 20px; } }
          @media (min-width: 992px) and (max-width: 1199px) {
            .left-box .box-item .box-item-body .box-item-body-title h1, .left-box .box-item .box-item-body .box-item-body-title h2, .left-box .box-item .box-item-body .box-item-body-title h3, .left-box .box-item .box-item-body .box-item-body-title h4, .left-box .box-item .box-item-body .box-item-body-title h5, .left-box .box-item .box-item-body .box-item-body-title h6 {
              font-size: 20px; } }
          @media (min-width: 1200px) {
            .left-box .box-item .box-item-body .box-item-body-title h1, .left-box .box-item .box-item-body .box-item-body-title h2, .left-box .box-item .box-item-body .box-item-body-title h3, .left-box .box-item .box-item-body .box-item-body-title h4, .left-box .box-item .box-item-body .box-item-body-title h5, .left-box .box-item .box-item-body .box-item-body-title h6 {
              font-size: 20px; } }
        @media (min-width: 768px) and (max-width: 991px) {
          .left-box .box-item .box-item-body .box-item-body-title {
            padding: 6px; } }
        @media (min-width: 992px) {
          .left-box .box-item .box-item-body .box-item-body-title {
            padding: 10px; } }
        @media (min-width: 1200px) {
          .left-box .box-item .box-item-body .box-item-body-title {
            padding: 10px; } }
        @media (min-width: 1450px) {
          .left-box .box-item .box-item-body .box-item-body-title {
            padding: 15px; } }
        @media (min-width: 1824px) {
          .left-box .box-item .box-item-body .box-item-body-title {
            padding: 20px; } }
      .left-box .box-item .box-item-body .box-item-body-description {
        color: black;
        padding: 20px;
        text-align: left; }
        @media (min-width: 768px) and (max-width: 991px) {
          .left-box .box-item .box-item-body .box-item-body-description {
            padding: 6px; } }
        @media (min-width: 992px) {
          .left-box .box-item .box-item-body .box-item-body-description {
            padding: 10px; } }
        @media (min-width: 1200px) {
          .left-box .box-item .box-item-body .box-item-body-description {
            padding: 10px; } }
        @media (min-width: 1450px) {
          .left-box .box-item .box-item-body .box-item-body-description {
            padding: 15px; } }
        @media (min-width: 1824px) {
          .left-box .box-item .box-item-body .box-item-body-description {
            padding: 20px; } }

.quotes-container {
  width: 72%; }
  @media (min-width: 768px) and (max-width: 991px) {
    .quotes-container {
      width: 90%; } }
  @media (min-width: 1200px) {
    .quotes-container {
      width: 70%; } }
  @media (min-width: 1450px) {
    .quotes-container {
      width: 60%; } }
  @media (min-width: 1824px) {
    .quotes-container {
      width: 50%; } }
  .quotes-container .quote-container {
    margin-bottom: 60px;
    width: 80%;
    display: flex;
    align-items: stretch;
    box-shadow: 0 0 10px 3px gainsboro;
    border-radius: 5px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .quotes-container .quote-container {
        width: 100%; } }
    @media (min-width: 1450px) {
      .quotes-container .quote-container {
        width: 70%; } }
    @media (min-width: 1824px) {
      .quotes-container .quote-container {
        width: 70%; } }
    .quotes-container .quote-container .img-container {
      background-color: #176fc7;
      padding: 20px;
      border-radius: 5px; }
      .quotes-container .quote-container .img-container img {
        max-width: 100px;
        border-radius: 100px;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translateY(-50%); }
    .quotes-container .quote-container .quote-text-container {
      box-sizing: border-box;
      text-align: center;
      padding: 30px 50px; }
      .quotes-container .quote-container .quote-text-container .quote-text {
        color: #4e4e4e;
        font-style: italic; }
      .quotes-container .quote-container .quote-text-container .quote-person {
        margin-top: 20px;
        color: #57c73e; }
      .quotes-container .quote-container .quote-text-container .quote-job-position {
        color: gainsboro; }
  .quotes-container .quote-container:nth-of-type(even) .img-container {
    background: #57c73e; }

footer {
  font-size: 0.9rem;
  padding: 50px 0;
  background: linear-gradient(to right, #101052, #020222, #010114);
  color: whitesmoke;
  width: 100%; }
  footer .footer-logo {
    margin-bottom: 30px;
    position: relative; }
    footer .footer-logo img {
      max-width: 100%;
      max-height: 100%; }
  footer .footer-contact .footer-contact-working-days {
    margin: 20px 0; }
    footer .footer-contact .footer-contact-working-days span {
      display: block; }
  footer .footer-quick-links ul {
    list-style: none; }
    footer .footer-quick-links ul li {
      padding: 3px 0; }
      footer .footer-quick-links ul li a {
        color: whitesmoke; }
        footer .footer-quick-links ul li a:hover {
          color: #176fc7; }
  footer .footer-post-list {
    margin: 20px 0; }
    footer .footer-post-list .footer-post {
      display: flex;
      align-items: center;
      color: inherit;
      border: 1px solid transparent;
      padding: 5px;
      transition: box-shadow .3s;
      text-decoration: none;
      margin: 10px 0; }
      footer .footer-post-list .footer-post img {
        width: 70px;
        height: 50px; }
      footer .footer-post-list .footer-post:hover {
        box-shadow: 0 0 9px 5px rgba(155, 155, 155, 0.274); }
      footer .footer-post-list .footer-post .footer-post-description {
        padding-left: 10px; }
        footer .footer-post-list .footer-post .footer-post-description p {
          margin: 0; }
        footer .footer-post-list .footer-post .footer-post-description span {
          color: gray; }
  footer .footer-copyright {
    padding-top: 50px; }

/*# sourceMappingURL=main.css.map */
